fastapi==0.115.13
uvicorn==0.34.2
markdownify==0.13.1
pypdf==5.4.0
python-docx==1.1.2
transformers==4.51.3
huggingface_hub[hf_xet]==0.31.4
accelerate>=0.26.0
datasets>=2.20.0
peft>=0.11.0
safetensors>=0.4.3
pyarrow==21.0.0
